* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.page {
    display: flex;
}

.left {
    padding: 0 20px;
}

.left input {
    margin: 5px 0;
}

.left button {
    margin: 0px 0 0 10px;
}

.right {
    max-width: 500px;
}

.right p {
    margin: 10px 0;
}

.right span {
    font-weight: bold;
}